:root {
	--orange: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}


body {
	font-family: 'Overpass', sans-serif;
	background-color: var(--very-dark-blue);
	color: var(--white);
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	font-size: 15px;
}

p {
	padding: 0px 0px 0px 20px;
}

p {
	color: var(--light-grey);
	margin-bottom: 20px;
	margin-top: 0px;
	line-height: 22px;
}

button:hover {
	cursor: pointer;
}

.rating-button:focus {
	background-color: var(--medium-grey);
}

/*rating card start*/

#rating-start, #thank-you-page {
	background: radial-gradient(circle at top,#252d37,#17191d);
	width: 330px;
	height: 350px;
	border-radius: 15px;
}

.star-icon {
	background-color: rgba(48, 58, 68, 0.712);
    padding: 12px;
    border-radius: 50%;
    height: 15px;
	width: 15px;
	margin: 20px 0px 0px 20px;
}

.rating-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
}

.rating-button {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid var(--dark-blue);
	padding: 0;
	font-family: 'Overpass', sans-serif;
	background-color: var(--dark-blue);
	color: white;
	padding-top: 2px;
}

.rating-button:hover {
	background-color: var(--orange);
	border: 1px solid var(--orange);
	color: white;
}



#submit-button {
	width: 280px;
	height: 45px;
	font-family: 'Overpass', sans-serif;
	color: white;
	background-color: var(--orange);
	border-radius: 40px;
	border: 1px solid var(--orange);
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	letter-spacing: 2px;
}

#submit-button:hover {
	background-color: white;
	color: var(--orange);
	border: 1px solid white;
}

/*rating card end*/

/*thank you card start*/

#thank-you-page {
	display: none;	
}

.thank-you-smartphone {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	
}

#selected-rating {
	color: var(--orange);
	text-align: center;
	background-color: var(--dark-blue);
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 170px;
	border-radius: 20px;
	padding: 7px 0px 5px 0px;
}

#thank-you-page p, h2 {
	text-align: center;
}

#thank-you-page h2 {
	padding: 0px;
}

#thank-you-page p {
	padding: 0px 0px 0px 0px;
}

/*thank you card end*/

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 20px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

